USE [master]
GO
/****** Object:  Database [17.10.2025_Clase8]    Script Date: 21/10/2025 00:50:43 ******/
CREATE DATABASE [17.10.2025_Clase8]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'17.10.2025_Clase8', FILENAME = N'C:\Users\Admin\17.10.2025_Clase8.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'17.10.2025_Clase8_log', FILENAME = N'C:\Users\Admin\17.10.2025_Clase8_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [17.10.2025_Clase8].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [17.10.2025_Clase8]
GO
/****** Object:  Table [dbo].[Cuenta]    Script Date: 21/10/2025 00:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuenta](
	[DNI_CUENTA] [int] NOT NULL,
	[NOMBRE_APELLIDO_TITULAR] [varchar](50) NOT NULL,
	[SALDO_CUENTA] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Cuenta] PRIMARY KEY CLUSTERED 
(
	[DNI_CUENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cuenta] ([DNI_CUENTA], [NOMBRE_APELLIDO_TITULAR], [SALDO_CUENTA]) VALUES (38999444, N'María González', CAST(127600.90 AS Decimal(18, 2)))
INSERT [dbo].[Cuenta] ([DNI_CUENTA], [NOMBRE_APELLIDO_TITULAR], [SALDO_CUENTA]) VALUES (40123567, N'Juan Pérez', CAST(78000.06 AS Decimal(18, 2)))
INSERT [dbo].[Cuenta] ([DNI_CUENTA], [NOMBRE_APELLIDO_TITULAR], [SALDO_CUENTA]) VALUES (42567890, N'Lucas Rodríguez', CAST(47000.50 AS Decimal(18, 2)))
GO
USE [master]
GO
