<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dbconection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=17.10.2025_Clase8;Integrated Security=True;Encrypt=True;Trust Server Certificate=True" />
    </connectionStrings>
</configuration>